h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  padding-left: 10px;
  margin: 0;
}

body {
  font-family: Monaco serif;
}

* p,
a {
  margin-left: 21px;
  padding: 20px;
  margin: 10px;
  margin-left: 10px;
}

ul,
li,
ol,
a {

  list-style: none;
  text-decoration: none;
}

.box {
  margin-left: 25px;
}

.body {
  background-color: gray
}

.container {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

/* ============Псевдоклассы :first-child и :last-child===== */

.list-item {
  margin-bottom: 12px;
}

.list-item:last-child {
  margin-bottom: 0;
}

/* ======= /Псевдоклассы :first-child и :last-child===== */