h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

ul,
li,
ol,
a {

  list-style: none;
  text-decoration: none;
}

.body {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

/* ============Псевдоклассы :first-child и :last-child===== */

.list-item {
  margin-bottom: 12px;
}

.list-item:last-child {
  margin-bottom: 0;
}

/* ======= /Псевдоклассы :first-child и :last-child===== */